main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 136px 53px 88px;
  gap: 57px;
}

main .title-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

main .title-container h1 {
  font-size: 60px;
  font-family: "GeekbleMalang2";
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -2.7px;
}

.title-container .description-logo {
  width: 112px;
  height: 112px;
}

.contents-container {
  display: flex;
  gap: 42px;
}

.description-tab {
  border: 13px solid var(--gray1, #999);
  border-radius: 40px;
  background-color: white;
  height: 730px;
}
.contents-container .author {
  width: 503px;
}
.contents-container .book {
  width: 1095px;
}

.upper-tab {
  background-color: var(--gray1);
  border-radius: 10px 10px 0px 0px;
  padding: 0 25px 15px 15px;
  display: flex;
  justify-content: space-between;
}
.tab-name {
  font-family: "locus_sangsang";
  font-size: 25px;
  color: white;
}

.description-tab .close-tab {
  display: flex;
  gap: 10px;
  align-items: center;
}
.description-tab .close-tab .red,
.yellow,
.green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.close-tab .red {
  background-color: var(--button-red);
}
.close-tab .yellow {
  background-color: var(--button-yellow);
}
.close-tab .green {
  background-color: var(--button-green);
}

.main-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  padding: 29px 60px 0 60px;
}

.description-tab .name {
  font-family: "GeekbleMalang2";
  display: flex;
  align-items: baseline;
  gap: 14px;
  font-size: 40px;
}
.name p {
  margin: 0;
}
.description-tab .name .chinese {
  font-family: "TaiwanPearl";
  font-size: 30px;
}

.description-tab .logo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.descript-content {
  text-align: center;
  font-family: "locus_sangsang";
  font-size: 30px;
  line-height: 29px;
}
