:root {
  --main-blue: #4F6688;
  --main-red: #904255;
  --main-purple: #C2B4D6;
  --gray1: #999999;
  --gray2: #D9D9D9;
  --gray3: #F4F4F4;
  --red1: #B0546A;
  --red2: #C07789;
  --red3: #D09AA7;
  --red4: #E0BDC5;
  --blue1: #3C4D67;
  --blue2: #8499B8;
  --purple1: #DCD4E8;
  --purple2: #EAE5F1;
  --button-green: #28C83F;
  --button-yellow: #FEBC2F;
  --button-red: #FF5F57;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);

}

.header-container, .menu-container, .title, .description, .team {
  display: flex;
  align-items: center;
}

.header-container {
  justify-content: space-between;
  padding: 1rem 3rem;
}

.menu-container {
  gap: 3rem;
  padding: 0 2rem;
}

.title {
  font-size: 2.4rem;
  gap: .5rem;
}

.description {
  font-size: 2rem;
  gap: .5rem;
}

.team {
  font-size: 1.6rem;
  gap: .7rem;
  line-height: 1;
}

.logo {
  /* 임시방편으로 logo라는 클래스에 공통적으로 네모 적용 */
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--main-blue);
}
