.monster-pop div {
  box-sizing: border-box;
}
.monster-pop {
  position: absolute;
  width: 900px;
  height: 750px;
  border-radius: 35px;
  border: 16px solid var(--blue2, #8499b8);
  background: var(--white-100, #fff);
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.monster-pop::-webkit-scrollbar {
  display: none;
}
input {
  display: none;
}

.monster-upper-tab {
  height: 65px;
  width: 100%;
  padding: 15px 0 29px 15px;
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
}
.monster-upper-tab .red,
.yellow,
.green {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 4.5px solid var(--blue2);
}
.monster-upper-tab .red {
  background-color: var(--button-red);
}
.monster-upper-tab .yellow {
  background-color: var(--button-yellow);
}
.monster-upper-tab .green {
  background-color: var(--button-green);
}

.monster-title {
  margin: 15px 0 19px 59px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  color: black;
  font-family: "GeekbleMalang2";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 80% */
}
.monster-title .chinese {
  color: var(--black-0, #000);
  font-family: "TaiwanPearl";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-left: 67px;
  margin-bottom: 26px;
}
.tags .tag {
  font-family: "locus_sangsang";
  width: 63px;
  height: 36px;
  border-radius: 15px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.mon-type1 {
  background-color: var(--gray2, #d9d9d9);
}
.mon-type2 {
  background-color: var(--red1);
}

.traits {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 74px;
}
.gender-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.trait-font {
  font-family: "locus_sangsang";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
}

#men {
  width: 26px;
  height: 24px;
}
#women {
  width: 18px;
  height: 27px;
}

.location-container,
.character-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.story-container {
  margin: 20px 80px 20px 60px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.monster-img img {
  max-width: 333px;
  max-height: 333px;
  position: absolute;
  left: 505px;
  top: 56px;
}
