main {
  padding-right: 126px;
}

.title-container h1 {
  font-size: 50px;
  letter-spacing: -2.25px;
}

.description-tab .close-tab .red,
.yellow,
.green {
  border: 3.5px solid var(--blue2);
}

.description-tab .upper-tab {
  background-color: transparent;
  padding-top: 18px;
}

.main-tab {
  height: 730px;
  width: 503px;
  gap: 40px;
  padding: 0 0 0 45px;
}

.main-tab .name-container {
  padding-top: 70px;
  width: 100%;
}

.main-tab .name-container .number {
  font-family: "locus_sangsang";
  font-size: 20px;
}
.name-container .name {
  font-size: 45px;
  line-height: normal;
  padding-bottom: 4px;
}

.name-container .tags {
  display: flex;
  gap: 3px;
}
.name-container .tags .tag {
  font-family: "locus_sangsang";
  width: 53px;
  height: 28px;
  border-radius: 15px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
.mbti {
  background-color: var(--red1);
}
.major {
  background-color: var(--blue2);
}
.major2 {
  background-color: var(--purple1);
}

.traits {
  width: 100%;
  padding: 0 0 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gender-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}
.trait-font {
  font-family: "locus_sangsang";
  font-size: 35px;
  font-weight: 400;
}

.gender-container img {
  width: 18px;
  height: 27px;
}

.power-container,
.skill-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.power-stat {
  display: flex;
  gap: 9px;
}

.power-stat .logo {
  margin: 0;
  width: 30px;
  height: 30px;
}

.comment {
  width: 95%;
  padding: 0 32px;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

.member-jjh,
.member-wdh,
.member-yjs {
  position: relative;
}

.jjh-img,
.wdh-img,
.yjs-img {
  position: absolute;
  left: 192px; /*최대한 가운데로 보이는 px값...*/
  top: -75px;
}

.member-img img {
  width: 174px;
  height: 174px;
}

.member-jjh {
  border: 13px solid var(--blue2);
}
.member-wdh {
  border: 13px solid var(--purple1);
}
.member-yjs {
  border: 13px solid var(--red3);
}
